buttons/
icons/
mods/
offsets/
shaders/
sprites/
themes/android/
themes/default/
themes/exemplar/
themes/exemplar - testing/
themes/archetype/
data.pak
resources.zip
strings/strings_zh.xml
strings/strings_zh-Hant.xml
strings/strings_pt-BR.xml
strings/strings_ko.xml
strings/strings_ja.xml
strings/strings_it.xml
strings/strings_fr.xml
strings/strings_es.xml
strings/strings_en.xml
strings/strings_de.xml
strings/Unova_Edits_de.xml
strings/Unova2_Edits_de.xml
strings/Sinnoh_Edits_de.xml
strings/.backup/strings_de.xml
strings/.backup/strings_en.xml
strings/.backup/strings_en_archetype.xml
strings/.backup/strings_en_archetype_gba.xml
strings/.backup/strings_en_archetype_nds_sinnoh.xml
strings/.backup/strings_en_archetype_nds_unova.xml
strings/.backup/strings_es.xml
strings/.backup/strings_fr.xml
strings/.backup/strings_it.xml
strings/.backup/strings_ja.xml
strings/.backup/strings_ko.xml
strings/.backup/strings_pt-BR.xml
strings/.backup/strings_zh-Hant.xml
strings/.backup/strings_zh.xml
